---

// No funciona en github pages las rutas de esta manera

const getUrl = (path: string) => {
  const base = import.meta.env.BASE_URL.replace(/\/$/, '');
  return `${base}${path}`;
};
---

<nav>
    <a href={getUrl('/')}>Home Page</a>
    <a href={getUrl('/about')}>About Page</a>
    <a href={getUrl('/contact')}>Contact Page</a>
    <a href={getUrl('/blog')}>Blog</a>
</nav>